@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

}

input[type='range'] {
  -webkit-appearance: none !important;
  background: hsl(223, 31%, 20%);
  height: 15px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background: hsl(6, 63%, 50%);
  border-radius: 50%;
  height: 15px;
  width: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}